<% for message in @messages %>
  <tr>
	<td><%=h User.find_by_id(message.sent_user).login  %></td>
	<td><a href="<%= "/messages/show/" + message.id.to_s %>"><%= message.text[0..10] %></a></td>
	<td>
		<% if message.read %>
			read
		<% else %>
		    NEW!
		<% end %>
	</td>
	<td><a href="<%= "/messages/new?receiver=" + message.sent_user.to_s %>">reply</a></td>
  </tr>
<% end %>