<% for message in @messages %>
  <tr>
	<td><%=h User.find_by_id(message.recv_user).login  %></td>
    <td><a href="<%= "/messages/show/" + message.id.to_s %>"><%= message.text[0..10] %></a></td>
	<td>
		<% if message.read %>
			read
		<% else %>
		    unread
		<% end %>
	</td>
  </tr>
<% end %>