<h1>Listing pieces</h1>
<p>

</p>

<table>
  <tr>
    <th>Interpret</th>
    <th>Title</th>
    <th>Notes from Owner</th>
	<th>Owner Login</th>
  </tr>

<%= render :partial => 'titles' %>

</table>

<br />


