<h1>Listing pieces</h1>
<p>
	Please find below a list of pieces, you own. You can edit them if you want to, and feel free to include as many pieces as you like (or own)
</p>

<table>
  <tr>
    <th>Notes</th>
    <th>User</th>
  </tr>

<%= render :partial => '_list' %>

</table>

<br />

<%= link_to 'New piece', new_piece_path %>
