<h1>Listing titles</h1>

<table>
  <tr>
    <th>Name</th>
  </tr>

<% for title in @titles %>
  <tr>
    <td><%=h title.name %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New title', new_title_path %>
