<h1>Listing interprets</h1>

<table>
  <tr>
    <th>Name</th>
  </tr>

<% for interpret in @interprets %>
  <tr>
    <td><%=h interpret.name %></td>

  </tr>
<% end %>
</table>

<br />

<%= link_to 'New interpret', new_interpret_path %>
