<h2>
	About me
</h2>

<p>
	This site was build during this crazy, crazy Railsrumble 2008 and everything here is only for fun. If you like what you see, then drop me a note. 
</p>
<p>
	Mailadress : gmagholder(at)web(dot)de
</p>

