<h2>
	HELP
</h2>

<p>
	So you made it to this site and now what?
</p>
<p>
	This site introduces a new, fancy buzzword <i>transitive taste.</i> Transitive taste is a 
	concept for finding new music you've never heard of.
</p>
<p>
	If you love music, then there will be others, that love "your" music too. And transitive taste 
	is a mechanism, to find music, that belongs to a different category. Everybody at music 4 the classes 
	has to categorize his music. It doesn't matter, what you name that categories or how do you use them, 
	just do it.
</p>
<p>
	If you are looking for equal taste, you will be presented a list of music, that belongs to the same 
	category than the category, other users used to categorize a certain title of yours.
</p>
<p>
    If you are really adventorous, you will try transitive taste. That is, give me the music from all guys, 
    that share a certain piece of music like I do, but only list music, that is outside the category of our 
shared music. Using this method, you will dive deep into some music, you probably never heard of. 
</p>
<p>
	Have fun!
</p>