<h2>
	Welcome to music-4-the-classes.
</h2>

<p>If you love music and you love to get to know some new stuff, then this is for you. There are tons of sites out there that give you some new music of a genre you already like. On music 4 the classes, we believe in transitive taste.
</p>
<p>To shed some light on this, here is the (wild indeed) assumption: 
</p>
<p>A and B both love the music from the 80s, especially Depeche Mode. Both categorized their music and put "Master and Servant" into the same category. If B has another musical category that includes the Mighty, Mighty Bosstones, we assume that A could love this music, too, even if he never heard of that band.
There will be lots of false assumptions, of course, but even if you find only one single gem in that transitive tastes, we think it was worth it.
</p>
<p>So come in, enter some music you like and categorize it. There is NO restriction how you categorize stuff; you can have as many categories as you like, but every song can only belong to one category (otherwise, this stuff will not work).
</p>
<p>Just create an account, you can sign in using OpenID as well, and enter some data. The more data that is entered, the more fun can come right to your ears. 
</p>
<p>Good luck and have fun!
</p>